#img-card-title {
    margin: 20px auto;
    text-align: center;
    color: black;
    width: 60vw;
    font-size: 2vw;
}

#img-card-title h3 {
    margin-bottom: 15px;
}


.img-card-box {
    box-sizing: border-box;
    margin: 20px auto;
    padding: 0;
    width: 80vw;
}

#img-card-box-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: none;
    border-radius: 10px;
    margin: 0px auto;
    align-items: center;
    width: 90%;
}


#img-card-img-format {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    padding: 0px;
    text-align: center;
    padding: 3px;
    padding-bottom: 1vw;
}
#img-card-img-format img{
    width: 90%;
    height: 10%;
    border-radius: 15px;
}

#img-card-img-format img:hover {
    box-shadow: 0px 0px 20px #000000;
}

#img-card-img-format p{
    padding-bottom: 25px;
    font-size: 1.4vw;
    width: 90%;
    height: 0;
    margin: 0px auto;
    padding: auto;
    margin-top: 5px;
    text-align: center;
    word-wrap: break-word;
}

@media screen and (max-width: 1000px){
   *{
    margin: 0px auto;
    padding: 0;
    box-sizing: border-box;
   }
   
   .img-card-box {
    width: 100vw;
    height: 80%; 
    text-align: center;
   }

   #img-card-title {
    font-size: 4vw;
   }
   
   #img-card-box-content{
    column-count: 2;
    column-gap: 2%;
    display: inline-block; 
    width: 95%;
   }

   #img-card-img-format img{
    height: 100%;
    width: 100%; 
   }

   #img-card-img-format p{
    font-size: 2ex;
    word-wrap: break-word;
   }
}

@media screen and (min-width: 1001px) and (max-width: 1400px){

    *{
        margin: 0px auto;
        padding: 0;
        box-sizing: border-box;
       }
       
       .img-card-box {
        width: 100vw;
        height: 80%; 
        text-align: center;
       }
    
       #img-card-title {
        font-size: 4vw;
       }
       
       #img-card-box-content{
        column-count: 2;
        column-gap: 2%;
        display: inline-block; 
        width: 95%;
       }
    
       #img-card-img-format img{
        height: 100%;
        width: 100%; 
       }
    
       #img-card-img-format p{
        font-size: 3.4ex;
        word-wrap: break-word;
       }

}