@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

/* essencial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
}


/* variaveis css (cor, fonte, e outros) */
:root{
    --cor-primaria: #242333;
    --cor-hover:#5C4AFF;
}
/* essencial */

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor-primaria);
    padding: 10px 20px;
}

.logo img {
    height: 50px;
    border-radius: 100%;
}

.nome-logo{
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
    font-size: 24px;
    font-family: "Emilys Candy", serif;
    font-weight: 400;
    font-style: normal;
    display: inline-block;
    margin-left: 10px;
}

.search-bar {
    flex-grow: 1;
    text-align: center;
}

.input-container {
    width: 20px;
    position: relative;
}

.input {
    width: 50%;
    height: 40px;
    padding: 10px;
    transition: .2s linear;
    border: 2.5px solid black;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 25px;
}

.input:focus {
    outline: none;
    border: 0.5px solid black;
    box-shadow: -5px -5px 0px black;
}

@keyframes anim {

    0%,
    100% {
        transform: translateY(calc(-50% - 5px)) scale(1);
    }

    50% {
        transform: translateY(calc(-50% - 5px)) scale(1.1);
    }
}

.links {
    display: flex;
}

.links a {
    color: #fff;
    text-decoration: none;
    padding: 0 10px;  
    font-size: 20px;
    transition: color 0.3s ease;
}

.links a:hover{
    color: var(--cor-hover);
    
}
/* fim da navbar */

/* offcanvas */
.offcanvas {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 1;
}

.offcanvas a:hover{
    color: var(--cor-hover);
    transition: color 0.3s ease-in-out;
}

.menu-btn{
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.offcanvas.active {
    left: 0;
}

.offcanvas-content {
    padding: 20px;
}

.offcanvas-content a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 24px;
}

.offcanvas-toggle {
    display: none;
}
/* fim offcanvas */

/* carrossel */
.slideshow-container {
    max-width: 850px;
    position: relative;
    margin: auto;
    margin-top: 25px;
}

.mySlides {
    display: none;
}

.mySlides img{
    border-radius: 20px;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 30px 30px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 30px 0 0 30px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.active,
.dot:hover {
    background-color: var(--cor-primaria);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
/*  fim do carrossel */


/* footer */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.copyright{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--cor-primaria);    
    padding: 24px;
    font-size: 1.5rem;
    font-weight: 400;
}

.copy{
    margin-bottom: 10px;
    color: white;
    flex-grow: 1;
    text-align: center;
    font-size: 20px;
}
.copy a{
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}
.copy a:hover{
    color: var(--cor-hover);
}
/* fim do footer */

/* scroll bar */
body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #000603;
    --sb-size: 10px;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 1px;

}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}
/* fim scroll bar */

/* media querys */
@media screen and (max-width: 768px) {
    .slideshow-container{
        margin-top:15px;
        width: 390px;
    }
    
    .links {
        display: none;
    }

    .search-bar{
        display: none;
    }

    .offcanvas-toggle {
        display: block;
    } 

    .copyright{
        padding: 12px;
        padding-bottom: 0;
    }

    .copy{
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px){

    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .offcanvas{
        width: 26vh;
    }
}